# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: 
apikey_hmac_secret: 
db_development_database: 
db_development_login: 
db_development_password: 
db_test_database: ft_api_test
db_test_login: rails
db_test_password: rails
db_production_database: 
db_production_login: 
db_production_password: 
